server port start = 9000
simulation time = 200
simulation speed = 100
host = localhost
time window = 5
mission name = case_study_1
sensor port = 6000

UUV {
 	name 	        = alpha
 	speed 	        = 0:1:50
 	sensors         = [SENSOR1, SENSOR2]
}

UUV {
 	name 	        = bravo
 	speed 	        = 0:1:40
 	sensors         = [SENSOR3, SENSOR4]
}


UUV {
 	name 	        = charlie
 	speed 	        = 0:1:40
 	sensors         = [SENSOR1, SENSOR4]
}

UUV {
 	name 	        = delta
 	speed 	        = 0:1:30
 	sensors         = [SENSOR1, SENSOR4]
}

UUV {
 	name 	        = foxtrot
 	speed 	        = 0:1:20
 	sensors         = [SENSOR1, SENSOR2]
}
