<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.type2labs.undersea.common.logger">
    <Appenders>
        <UnderseaLogger name="UnderseaLogger">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </UnderseaLogger>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="UnderseaLogger"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>