simulation time 	= 100
time window 		= 5
host 				= localhost
port start          = 9000
simulation speed 	= 1

UUV {
 	name 	        = alpha
 	speed 	        = 0:5:40
 	behaviour file  = alpha.bhv
 	sensors         = [SENSOR1, SENSOR2]
}

UUV {
 	name 	        = bravo
 	speed 	        = 0:5:40
 	behaviour file  = bravo.bhv
 	sensors         = [SENSOR3, SENSOR4]
}

UUV {
 	name 	        = charlie
 	speed 	        = 0:5:40
 	behaviour file  = charlie.bhv
 	sensors         = [SENSOR1, SENSOR4]
}