SENSOR {
	name 		= SENSOR1
	rate 		= 3
	reliability	= 0.9
	change		= 10:50:2
}

SENSOR {
	name 		= SENSOR2
	rate 		= 3
	reliability	= 0.9
	change		= 10:50:2
}

SENSOR {
	name 		= SENSOR3
	rate 		= 3
	reliability	= 0.9
	change		= 10:50:2
}

SENSOR {
	name 		= SENSOR4
	rate 		= 3
	reliability	= 0.9
	change		= 10:50:2
}